/* Font Primary Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.card{
    box-shadow: 2px 2px 10px #b0b0b0;
    transition: all ease .4s;
}
.card:hover{
    box-shadow: 2px 2px 20px #b0b0b0;
    transform: scale(1.02);
    transition: all ease .4s;
}
.bg-color-custom {
    background: linear-gradient(to right, #8A49C9, #B260CD);
}